<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>reporater.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AC2D6807DA27CBEE4113E7C882B2602E8FCCAE3D</string>
				<key>dateExpires</key>
				<string>3/27/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC2D6807DA27CBEE4113E7C882B2602E8FCCAE3D</string>
						<key>dateExpires</key>
						<string>3/27/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y7P66767H6</string>
						<key>name</key>
						<string>Matias Reyes Olea</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y7P66767H6.org.reactjs.native.example.reporater</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y7P66767H6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>reporater.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>336a69c7-1b4b-4004-bb31-d93fc37a499d</string>
				<key>dateExpires</key>
				<string>3/27/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.reactjs.native.example.reporater</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y7P66767H6</string>
				<key>name</key>
				<string>Matias Reyes Olea</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
